#map {
  position: relative;
}

#popup {
  padding-bottom: 0px;
}

.popover-content{
  padding: 0;
}

#myModal .btn {
  margin: 5px;
}

table, td, th{
  border: 1px solid;
  border-collapse: collapse;
  padding:2px;
  border-radius: 2px;
}